__pycache__/
*.py[cod]

*$py.class

.pytest_cache/
**/__pycache__

**.aux
**.swp
**/*.mp4
**/*.mkv
**/*.raw
**/*.aer
**/*.caer
**/*.paq
summary.pdf
docs/build
**/*.egg-info

.gitmodules
datasets
bin
.vscode
